<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <p>Here are some things</p>
    <p>I like school</p>

    <div id="raidTeamSection">
        <div id="myelement"></div>
    </div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="javascript" src="/public/javascripts/libs/jquery-2.1.3.min.js"></script>
    <script type="javascript" src="/public/javascripts/libs/underscore-min.js"></script>
    <script type="javascript" src="/public/javascripts/libs/backbone-min.js"></script>

    <script type="javascript" src="/public/javascripts/TestCollection.js"></script>
    <script type="javascript" src="/public/javascripts/TestView.js"></script>
    <script type="javascript" src="/public/javascripts/model/TestModel.js"></script>

    <script type="javascript" src="/public/javascripts/basic.js"></script>

</body>

</html>