<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<h1>Register</h1>

<form>
    <fieldset>
        <legend>Character Information</legend>
            <label>
                Character Name:
                <input type="text" name="charName" />
            </label>
            <label>
                Class:
                <input type="text" name="className" />
            </label>
            <label>
                Spec:
                <input type="text" name="classSpec" />
            </label>
            <label>
                Lvl:
                <input type="number" name="level" />
            </label>
    </fieldset>
    <p>
        <input  type="submit" value="Sign Up" />
    </p>
</form>
</body>
</html>